@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

:root {
    --white-color: #fff;
    --black-color: #000;
    --font-color: #333;
    --orange-color: #f26522;
    --orange-primary-color: #da5b1f;
    --grey-color: rgb(235, 235, 235);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 13px;
    color: var(--white-color);
    /* z-index: 1; */
}

body {
    /* display: flex; */
    position: relative;

}

.top-header {
    width: 100%;
    height: 40px;
    background-color: var(--black-color);
    /*background-color: white;*/
}

.container,
.row {
    height: 100%;
}

.account-link {
    text-align: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* padding-left: 20px; */
}

.account-link a div {
    padding-left: 10px;
    padding-right: 5px;
}

.account-link a {
    text-decoration: none;
    color: var(--white-color);
    padding-left: 10px;
}

.account-link a:hover,
.account-link a:hover div {
    color: var(--orange-color);
}

/* End top header */

/* Header */
header {
    width: 100%;
    height: 120px;
    background-color: var(--orange-color);
    /*background-color: red;*/
}

.mid-header {
    height: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.service-header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.service-header div {
    display: inline-block;
    padding: 7px;
    background-color: rgba(0, 0, 0, 0.1);
}

.service-header:hover div {
    background-color: #000;
}

.header-right {
    width: 160px;
    border: 2px solid var(--white-color);
    height: 100%;
    position: relative;
    z-index: 10;
}

.hover-cart {

    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
    /* z-index: 2 !important; */
}

.cart-small {

    width: 200%;
    padding: 5px 10px;
    /* height: 400px; */
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 100%;
    right: 0%;
    color: var(--font-color);
    display: none;

}
.cart-list {
    max-height: 200px;
    overflow-x: auto;
}
.cart-product {
    /* padding: 10px 5px; */
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 10px 0px;
}

.small-thumbnail {
    width: 90%;
    max-width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.small-title {
    color: var(--font-color);
    /* line-height: 0; */
    position: relative;
    top: 0;
}

.fa-trash {
    color: black;
}

.cart-subtotal {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.total {
    /* padding-right: 20px; */
    color: var(--orange-color);
    font-size: 1.6rem;
    font-weight: bold;
}

.total sup {
    color: var(--orange-color);
    text-decoration: underline;
}

.services {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

}

.services a {
    text-align: center;
    font-size: 1.2rem;
    /* color: white; */
    text-decoration: none;
    width: 45%;
    padding: 10px 20px;
    border-radius: 3px;

    /* background-color: var(--orange-color); */
}

.services .cart-btn {
    background-color: var(--orange-color);
    color: white;
    border: 1px solid var(--orange-color);
}

.services .cart-btn:hover {
    background-color: var(--white-color);
    color: var(--orange-color);
    border-color: var(--orange-color);
}

.services .pay-btn {
    color: var(--black-color);
    border: 1px solid rgb(177, 177, 177);
    /* color: var(--orange-color); */
}

.services .pay-btn:hover {
    color: var(--orange-color);
    border-color: var(--orange-color);
}

.amount-form {
    /* width: 300px; */

    margin: 0 auto;
    text-align: left;
    /* padding-top: 20px; */
    margin-top: 10px;
}
.quickview-form {
    display: inline-block;
    /*display: none;*/
}

.amount-form .value-button {
    color: var(--font-color);
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    /* padding: 11px 0; */
    background: #dfdfdf;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.quickview-form .value-button{
    width: 40px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
}
.amount-form .value-button:hover {
    cursor: pointer;
}

.amount-form #decrease {
    margin-right: -4px;
    /* border-radius: 8px 0 0 8px; */
}

.amount-form #increase {
    margin-left: -4px;
    /* border-radius: 0 8px 8px 0; */
}

.amount-form #input-wrap {
    margin: 0px;
    padding: 0px;
}

.amount-form input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    /* padding-top: 2px; */
    width: 20px;
    height: 20px;
}
.amount-form input[type=number]::-webkit-inner-spin-button,
.amount-form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quickview-form input#number {
    /* padding: 20px; */
    /* margin-top: 1px; */
    display: inline-block;
    width: 40px;
    height: 42px;
    color: var(--black-color);
}

.quickview-product {

    width: 900px;
    height: 450px;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
     /*position: relative;*/
    opacity: 0;
    visibility: hidden;
}
.quickview-thumnail {
    width: 35%;
    height: 90%;
    position: relative;
    top: 40px;
    /* left: 50%; */
    left: 20px;
    /* transform: translateX(-50) translateY(-50%); */
}
.add-to-cart-primary{
    margin-left: 40px;

    /* width: 50px; */
    padding: 14px 45px;
    background-color: var(--orange-color);
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    border: 1px solid var(--orange-color);
    /* transition: all 0.8 ease-in; */
}
.add-to-cart-primary:hover {
    background-color: white;
    color: var(--orange-color);
    /* border: 1px solid var(--orange-color); */
}
.quickview-infor span {
    color: var(--black-color);
}
.quickview-infor .status {
    color: var(--orange-color);
}
.quickview-infor .category {
    color: var(--orange-color);
}
.quickview-infor .sale-price {
    color: var(--orange-color);
}
.name {
    color: var(--black-color);
    font-size: 2rem;
    display: block;
    padding-top: 40px;
    margin-bottom: 20px;
}
.left{
    text-align: left !important;
    margin: 20px 0;
}

.quickview-thumnail img {
    width: 90%;
    height: auto;
}
.background-cover {

    width: 100%;
    height: 100%;
    /*background-color: red;*/
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 9;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
}

.fa-times {
    position: absolute;
    padding: 10px 12px;
    /* width: 10px; */
    background-color: var(--orange-color);
    right: -10px;
    top: -10px;
    border-radius: 50%;
    cursor: pointer;
}





.header-right:hover {
    background-color: var(--black-color);
    border-color: var(--black-color);
}

.header-right:hover .cart-small {
    display: block;
}

.fa-shopping-bag,
.hover-cart>span {
    position: relative;
    top: 25%;
}

.fa-shopping-bag {
    padding: 0px 10px;
}

.fa-sort-down {
    position: relative;
    top: 10%;
    margin-left: 10px;
}

.menu-bar {
    display: inline-block;
    cursor: pointer;
}

.fa-bars {
    font-size: 2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-right-mobile {
    width: 100%;
    height: 100%;
    position: relative;
}

.header-right-mobile div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.6rem;
}

.header-right-mobile span {
    color: var(--orange-color);
    padding: 3px 5px;
    background-color: var(--white-color);
    border-radius: 50%;
    position: absolute;
    left: 85%;
    top: -1%;

}

/* .mobile-nav {
    width: 100vw;
    height: 100vh;
    background-color: var(--white-color);
    top:0;
    left: 0%;
    position: absolute;
    list-style: none;
    z-index: 100;
}
.mobile-nav li {
    padding: 10px;
    border-bottom: 1px solid gray;
}
.mobile-nav li a{
    text-decoration: none;
    color: var(--font-color);
}
.mobile-nav{
    margin-left: 0;
}
.checkbox-input:checked .mobile-nav {
} */
/* End header */

/* Navbar */
nav {
    width: 100%;
    height: 50px;
    background-color: var(--orange-primary-color);
}

.navbar-items {
    height: 100%;
}

.navbar-list {
    margin-bottom: 0px;
    list-style: none;
    display: flex;
}

.navbar-list>li {
    display: inline-block;
    padding: 14px 20px;
    text-align: center;
}

.navbar-list li a {
    text-decoration: none;
    color: var(--white-color);
}


.navbar-list>li:hover {
    background-color: var(--black-color);
}

.navbar-item-active {
    background-color: var(--black-color);
}

.navbar-link div {
    padding-left: 5px;
    font-size: 10px;
    position: relative;
    top: -10%;
}

.hover-item {
    position: relative;
}

.sub-menu {
    padding-left: 15px;
    list-style: none;
    background-color: var(--grey-color);
    display: none;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 100%;
}

.sub-menu li {
    padding: 10px 0px;
    text-align: left;

}

.sub-menu li:hover a {
    color: var(--orange-color)
}

.sub-menu li a {
    display: block;
    color: var(--black-color);
}

.hover-item:hover .sub-menu {
    display: block;
}

.search-form {
    z-index: 1 !important;
    width: 100%;
    height: 100%;
    text-align: right;
    position: relative;

}

.search-form input {

    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-color);
    box-sizing: border-box;
    padding-left: 10px;
}

.search-form input:focus {
    outline: none;

}

.search-form button {
    position: absolute;
    padding: 3px 11px;
    border: none;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    background-color: var(--white-color);
}

.search-form button i {
    color: var(--black-color);
    font-size: 14px;
}

/* end */



.product-block {
    width: 100%;
    background-color: white;
    text-align: center;
}

.product-box {
    width: 100%;
}

.product-thumbnail {
    width: 100%;
    height: 80%;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.product-thumbnail a {
    display: block;
    width: 100%;
    height: 100%;

}

.product-thumbnail a img {
    max-width: 100%;
    height: auto;
}

.cover {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    /* display: none; */
}

.cover-layout {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}

.eye {
    width: 50px;
    height: 50px;
    background-color: rgb(247, 247, 247);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    display: none;

}

.fa-eye {
    font-size: 2rem;
    color: var(--black-color);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


.cover:hover .cover-layout,
.cover:hover .eye {
    display: block;
}

.eye:hover {
    background-color: var(--orange-color);
}

.eye:hover .fa-eye {
    color: var(--white-color);
}

.product-infor {
    width: 100%;
    background-color: var(--white-color);

}

.product-name {
    color: var(--black-color);
    text-transform: uppercase;
    color: rgb(82, 82, 82);
    white-space: nowrap;
    /* Ngăn không cho nội dung xuống dòng */
    overflow: hidden;
    /* Ẩn nội dung bị tràn */
    text-overflow: ellipsis;
    /* Hiển thị dấu "..." */
}

.product-name {
    display: block;
    width: 100%;
    text-align: center;

    padding-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.price-infor {
    padding-top: 10px;
    text-align: center;
}

.sale-price {
    padding-right: 20px;
    color: var(--orange-color);
    font-size: 1.6rem;
    font-weight: bold;
}

.sale-price sup {
    color: var(--orange-color);
    text-decoration: underline;
}

.price {
    color: var(--font-color);
    font-size: 1.4rem;
    text-decoration: line-through;
}

.price sup {
    color: var(--font-color);
    text-decoration: underline;
}

.add-to-cart {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.add-to-cart button {
    width: 140px;
    height: 40px;
    color: var(--font-color);
    background-color: transparent;
    border: 2px solid rgb(201, 201, 201);
    font-size: 1.1rem;
    /* position: relative; */
}

.add-to-cart button .fa-shopping-bag {
    color: var(--font-color);
    position: relative;
    top: -3%;
    padding-right: 3px;
}

.add-to-cart button:hover {
    background-color: var(--orange-color);
    color: var(--white-color);
    border-color: var(--orange-color);
}

.add-to-cart button:hover .fa-shopping-bag {
    color: var(--white-color);
}

.col-product {
    padding-left: 15px;
    padding-right: 15px;
}

/* Footer */
.header-footer {
    /* width: 100vw; */
    height: 300px;
    background-color: white;
}

.subcribe-content {
    width: 100%;
}

.subcribe-content h2 {
    color: var(--black-color);
    text-align: center;
    padding: 20px 0px;
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.subcribe-content span {
    display: block;
    color: gray;
    font-size: 1.2rem;
    padding: 0px 15px;
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.subcribe-content form {
    position: relative;
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
}

.subcribe-content input {
    width: 100%;
    padding: 15px;
    color: var(--black-color);
    border: 1px solid rgb(228, 228, 228);
    border-radius: 5px;
}

.subcribe-content input:focus {
    outline: none;
}

.subcribe-content button {
    background-color: white;
    border: none;
    position: absolute;
    padding: 0px 10px;
    right: 5px;
    top: 10px;
}

.subcribe-content div {
    color: var(--orange-color);
    font-size: 2.5rem;
}

.mid-footer {
    width: 100%;
    background-color: rgb(238, 238, 238);
}

.footer-title {
    padding-top: 30px;
    font-size: 1.2rem;
    color: var(--font-color);
    position: relative;
    margin-bottom: 20px;
}

.list-menu {
    list-style: none;
    padding-left: 0;
}

.list-menu li a {
    text-decoration: none;
    color: gray;
    cursor: pointer;
    font-size: 1.1rem;
}

.fa-plus {
    color: var(--font-color);
    font-size: 1.2rem;
    position: absolute;
    right: 0%;
    /* top: 100%; */
}

.list-menu li a:hover {
    color: var(--orange-color);
}

.list-menu li span {
    color: gray;
}

.list-menu li {
    margin-bottom: 10px;
}

.list-menu li div {
    padding: 6px;
    background-color: rgb(87, 87, 87);
    border-radius: 3px;
    margin-right: 4px;

}

.list-menu li div:hover {
    background-color: var(--orange-color);
}



/* overflow: visible; */
/* opacity: 1;
}
/* End */
@media (max-width: 1023px) {}

@media only screen and (max-width: 739px) {
    .account-link {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .subcribe-content span {
        width: 100%;
        padding: 0 15px;
    }

    .subcribe-content form {
        width: 95%;
    }
}


.hidden-cart {
    width: 1000px;
    /* height: 500px; */
    max-height: 600px;
    padding: 20px;
    background-color: white;
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}
.display-block {
    display: block;
    opacity: 1;
    visibility: visible;
}
.hidden-cart span, .hidden-cart div {
    color: black;
    /* font-size: 1.6rem; */
}
.fa-check {
    font-size: 1.6rem;
    color: var(--orange-color);
}
.message span{
    font-size: 1.4rem;
}
.table-header {
    display: flex;
    /* font-size: 1.6rem; */
}
.table-cart {
    width: 100%;
    /* height: 350px; */
    overflow-x: auto;
    max-height: 350px;
}
.table-header div {
    font-size: 1.2rem;
    background-color: #f5f4f4;
    padding: 10px 10px 5px 10px;
    border: 1px solid rgb(228, 228, 228);
}
.cart-name:hover {
    color: var(--orange-color);

}
.product-cart {
    width: 55%;
}
.price-cart {
    width: 15%;
}
.amount-cart {
    width: 15%;
}
.total-cart{
    width: 15%;
}
.table-row {
    display: flex;

    border-left: 1px solid rgb(228, 228, 228);
    border-right: 1px solid rgb(228, 228, 228);
    border-bottom: 1px solid rgb(228, 228, 228);
}
.table-row>div {
    text-align: center;
    align-items: center;
}
.cart-detail {
    width: 55%;
}
.table-row .sale-price {
    color: var(--orange-color);
    font-size: 1.2rem;
    display: inline-block;
    padding-top: 10px;
}
.cart-form{
    display: inline-block;
}

.cart-detail{
    display: flex;

}
.cart-detail img {
    width: 18%;
    padding: 10px;
}

.cart-infor {
    height: 100%;
    text-align: left;
    /*align-items: left;*/
}
.cart-detail-name {
    display: block;
    padding-top: 10px !important;
    font-size: 1.2rem;
    font-weight: 500;
    /* margin-top: 200px !important; */
    /* position: relative; */
}

.cart-infor .fa-times {
    color: var(--black-color);
    position: relative;
    padding: 0;
    background-color: white;
    /* margin: 10px 0px 10px 10px; */

    right: 0;
    top: 0;
    /* margin-top: 10px; */


}
.cart-infor a{
    text-decoration: none;
    color: var(--black-color);

}
.cart-infor a:hover {
    color: var(--orange-color);
}
.total-cart-money {
     /*float: right;*/
    padding: 10px;
    text-align: right;
    /*align-items: right;*/
}
.total-cart-money span{
    font-size: 1.4rem;
}
.total-cart-money .sale-price {
    color: var(--orange-color);
    font-size: 1.2rem;
}
.pay-block {
    float: right;
    margin-top: 10px;
}
.pay-block a {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 10px 20px;
    background-color: var(--orange-color);
    color: white;
    border-radius: 4px;
}
.pay-block a:hover {
    color: white;
}